/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

 /*css for main and general parts of page                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     */
body{

    background-color: rgba(255,255,255,.75);
    font-family: 'Open Sans Condensed', sans-serif !important;
}
/* css for main slider nav */
#main_page header .button-collapse{
    background-color: rgba(0, 0, 0, .85);
    color: #ffffff;
    padding: .5em;
    margin: .5em;
    border-radius: 5px;

}
#main_page header{

}
#main_page header .m{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: 700;

}
#main_page header nav{
    font-size: 1.5em;
    padding: .35em; /*this works up till 600px, then add media query*/
}

#main_page header nav ul#slide-out.side-nav.right-aligned li div.userView img.circle{
    margin:.15em;
}
#main_page header nav ul#slide-out.side-nav.right-aligned li div.userView p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    /*line-height: 1.25em;*/
    margin: .25em 0;
}
.userView img{
    width:100%;
    height: auto;
}

/*Css for all containers or sections*/
/*.container{*/
    /*display:flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*padding: 2em .25em;*/
/*}*/
/*.container img{*/
    /*width: 40%;*/
    /*height: auto;*/
    /*margin: .5em;*/
    /*padding:.25em;*/

/*}*/

/*CSS pertaining to header section*/
/*header{*/
    /*padding: .25em;*/
    /*margin: .5em;*/
/*}*/
/*h1 {*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-size: 2.75em;*/
    /*font-weight: bold;*/
/*}*/
/*This is for the header part on Main page the says welcome and my name*/
#main_page h3{
    /*color:rgb(215, 60, 102);*/
    /*text-shadow: 1px 1px #444;*/
    font-family: 'Dancing Script', cursive;
    font-size:1.5em;
    float:right;
    margin: 0 .5em ;
}
#main_page h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1.5em;
    text-align: center;
    margin: .5em 0;
}
/*Css pertaining to main section cards*/
#main{
    /*background-color:rgba(235, 127, 121,.5);*/
}

#main q{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

#main .card-image{
    width: 100%;
    height: auto;
    opacity: .87;
}
#main img:hover{
    opacity: 1;
}
.card-title{
    /*color:#CD853F !important;*/
    /*text-shadow: 1px 1px #444;*/
}

/*CSS pertaining to the Resume and recommendations*/
#resume{
    /*background-color:rgba(85, 224, 143, .25);*/

}
#resume:hover{
    opacity: .6;
}

/*CSS pertaining to my projects*/
#project{
    /*background-color:rgba(215, 60, 102,.25);*/

}
#project:hover{
    opacity: .6;
}

/*CSS pertaining to the education section*/
#education{
    /*background-color:rgba(27, 148, 77, .25);*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;

}
#education:hover{
    opacity: .6;
}

/*css for footer section of main page*/
#contact{
    /*background-color: rgba(255, 153, 146, .8);*/
    padding: .5em;

}
#contact .info{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: .5em;
}
#contact .info h4{
    font-size: 1.5em;
}
#contact .info a{
    color:#ffffff;

}
#contact .info a:hover{
    color:rgb(215, 60, 102);
}
#contact .info i{
    margin: .15em;
    color: #ffffff;
}

/*Css creating nav for each page*/
.nav {
    background-color: #444;
    width:100%;
}
.nav ul {
    list-style: none;
    background-color: rgba(210,170,168,1);
    text-align: center;
    overflow: auto;


}
.nav li {
    float: left;
    font-family: inherit;
    font-size: 1.2em;
    line-height: 1em;
    border-bottom: 1px solid #888;
    padding: 0 .25em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: rgba(255,243,242,1);
    color:#444;
}

.nav a:active {
    background-color: #fff;
    color: rgba(172, 157, 150, 1);
    cursor: default;
}

/*css for resume sheet*/
#res_page {
    background-color: rgba(172, 157, 150, .75);
}
#res_page h3 {
    color: cadetblue;
    text-shadow: 1px 1px #222222;
    text-align: center;
}
#res_page div{
    margin:1.5em 1em;
}
#res_page h6{
    font-weight: 600;
}
#res_page p{
     font-size:1em;
 }
#res_page .list-items{
    font-size:1em;
    line-height: 1.5em;
}
#res_page section{
    margin:1.5em 1em;
}


/*css pertaining to education page*/
#edu_page{
    /*background-color: rgba(27, 148, 77, .15);*/
}
#edu_page h3{
    /*color: rgba(27, 148, 77, 1);*/
    text-shadow:  1px 1px #222222;
    text-align: center;
    margin: -1.25em 0 .5em 0;
}
#edu_page section{
    margin:1.5em 1em;
}
#edu_page h6{
    font-weight: 600;
}
#edu_page p{
    font-size: 1.5em;
    margin-left: .5em;
}

/*css for the projects page*/
#proj_page{
    display:flex;
    flex-flow: column nowrap;
    /*background-color: rgba(85, 224, 143, .15);*/
}
#proj_page h3{
    text-align: center;
    /*color:rgba(85, 224, 143, 1);*/
    text-shadow: 1px 1px #222222;
    margin: -1em 0 .25em 0;


}
#proj_page .my_work{
    margin: 2em .25em;
    align-self: center;
}

/*Css media queries for larger screens */

@media screen and (min-width: 600px) {
    /*.nav li {*/
        /*display: inline;*/
        /*width: 100%;*/
        /*border-bottom: none;*/
        /*height: auto;*/
        /*line-height: 1.2em;*/
        /*font-size: 1.4em;*/
    /*}*/
    #main_page{
        display:flex;
        flex-flow:column nowrap;
    }
    #main_page .card{
        align-self: center;
    }
}
