/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/*rgba(172, 139, 116, 1); taupe brown*/
/*rgba(172, 157, 150, 1) taupe*/
/*rgba(210,192,180, 1) light taupe*/
/*rgba(181, 114, 111, 1)dark pink*/
/*rgba(210, 170, 168, 1)lightpink*/
/*rgba(240, 210, 209, 1)lightest pink*/
/*rgba(31, 156, 148, 1)dark Tiffany*/
/*rgba(73, 201, 200, 1) tiffany blue*/
/*rgba(170, 232, 227, 1)light blue*/
/*rgba(245, 241, 235, 1) ivory */
 /*css for main and general parts of page                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     */
body{

    background-color: rgba(255,255,255,.75);
    font-family: 'Open Sans Condensed', sans-serif !important;
}


/* css for main page slider navigation */
.button-collapse{  /*css for the button for nav on the main page*/
    background-color: rgba(210, 170, 168, 1);
    color: #ffffff;
    padding:.25em ;
    margin: 1em .5em;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: 700;
}

#main_page header .m{   /*css for the button for nav on the main page*/
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: 700;

}
/*#main_page header nav{*/
    /*font-size: 1.5em;*/
    /*padding: .35em; !*this works up till 600px, then add media query*!*/
/*}*/

.userView img.circle{  /*my pic*/


}
.userView h4{    /*name and email*/
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 2em 0;

}
.userView img{   /*background flower pic*/
    width:100%;
    height: auto;

}

.navList a{
   font-size: 1.5em;
}
/*This is for the header part on Main page the says welcome and my name*/
#main_page h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2em;
    text-align: center;
    margin: .5em 0;
}
#main_page h3{
    /*color:rgb(215, 60, 102);*/
    /*text-shadow: 1px 1px #444;*/
    font-family: 'Dancing Script', cursive;
    font-size:1.75em;
    float:right;
    margin: 0 .5em ;
}


/*Css for all containers or sections*/
/*.container{*/
/*display:flex;*/
/*flex-direction: row;*/
/*flex-wrap: wrap;*/
/*align-content: flex-start;*/
/*justify-content: center;*/
/*align-items: center;*/
/*width: 100%;*/
/*height: auto;*/
/*padding: 2em .25em;*/
/*}*/
/*.container img{*/
/*width: 40%;*/
/*height: auto;*/
/*margin: .5em;*/
/*padding:.25em;*/

/*}*/

/*CSS pertaining to header section*/
/*header{*/
/*padding: .25em;*/
/*margin: .5em;*/
/*}*/
/*h1 {*/
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-size: 2.75em;*/
/*font-weight: bold;*/
/*}*/
/*Css pertaining to main section cards*/
#main{
    /*background-color:rgba(235, 127, 121,.5);*/
}

#main q{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

#main .card-image{
    width: 100%;
    height: auto;
}
#main img:hover{
    opacity: .8;
}
.card-title{
    /*color:#CD853F !important;*/
    /*text-shadow: 1px 1px #444;*/
}

/*CSS pertaining to the Resume and recommendations*/
#resume{
    /*background-color:rgba(85, 224, 143, .25);*/

}
#resume img{
    width:100%;
}
#resume:hover{
    opacity: .8;
}

/*CSS pertaining to my projects*/
#project{
    /*background-color:rgba(215, 60, 102,.25);*/

}
#project:hover{
    opacity: .8;
}

/*CSS pertaining to the education section*/
#education{
    /*background-color:rgba(27, 148, 77, .25);*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;

}
#education:hover{
    opacity: .8;
}

/*css for footer section of main page*/
#contact{
    /*background-color: rgba(255, 153, 146, .8);*/
    padding: .5em;

}
#contact .info{
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: .5em;
}
#contact .info h4{
    font-size: 1.5em;
}
#contact .info a{
    color:#ffffff;

}
#contact .info a:hover{
    color:rgba(245, 241, 235, 1);
}
#contact .info i{
    margin: .15em;
    color: #ffffff;
}

/*Css creating nav for each page*/
/*
.nav {
    background-color: #444;
    width:100%;
}
.nav ul {
    list-style: none;
    background-color: rgba(210,170,168,1);
    text-align: center;
    overflow: auto;


}
.nav li {
    float: left;
    font-family: inherit;
    font-size: 1.2em;
    line-height: 1em;
    border-bottom: 1px solid #888;
    padding: 0 .25em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: rgba(255,243,242,1);
    color:#444;
}

.nav a:active {
    background-color: #fff;
    color: rgba(172, 157, 150, 1);
    cursor: default;
}
*/
/*css for resume sheet*/
#res_page .button-collapse{

}
#res_page {
    background-color: rgba(245, 241, 235, 1);
}
#res_page h3 {
    color: rgba(31, 156, 148, 1);
    text-shadow: .3px .3px #222222;
    text-align: center;
}
#res_page div{
    margin:1em 1em;
}
#res_page h6{
    font-size: 1.25em;
    font-weight: 600;
}
#res_page .list-items p{
    font-size:1.25em;
    line-height: 1.5em;
}
#res_page section{
    margin:1.5em 1em;
}
/*css pertaining to education page*/
#edu_page{
    /*background-color: rgba(27, 148, 77, .15);*/
}
#edu_page h3{
    color: rgba(31, 156, 148, 1);
    text-shadow: .3px .3px #222222;
    text-align: center;
}
#edu_page section{
    margin:1.5em 1em;
}
#edu_page h6{
    font-weight: 600;
}
#edu_page p{
    font-size: 1.5em;
    margin-left: .5em;
}

/*css for the projects page*/
#proj_page{
    display:flex;
    flex-flow: column nowrap;
    /*background-color: rgba(85, 224, 143, .15);*/
}
#proj_page h3{
    color: rgba(31, 156, 148, 1);
    text-shadow: .3px .3px #222222;
    text-align: center;


}
#proj_page .my_work{
    margin: 2em .25em;
    align-self: center;
}

/*Css media queries for larger screens */

@media screen and (min-width: 600px) {
    /*.nav li {*/
        /*display: inline;*/
        /*width: 100%;*/
        /*border-bottom: none;*/
        /*height: auto;*/
        /*line-height: 1.2em;*/
        /*font-size: 1.4em;*/
    /*}*/
    #main_page{
        display:flex;
        flex-flow:column nowrap;
    }
    #main_page .card{
        align-self: center;
    }
}
